.holder{
	width: 400px;
	margin:auto auto;
	text-align: center;
	margin-top: 25vh;
}
#header{
	font-family: 'Lobster', cursive;
	font-size: 48px;
}
.inputHolder{
	width: 250px;
	margin:auto auto;
	margin-top: 35px;
}
.inputs{
	margin-top: 15px;
}
.alertDiv{
	position: absolute;
	border-radius: none;
}